<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd ">
	
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:db.properties"></property>
	</bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="${driver}" />
       <property name="url" value="${url}" >
         <!--    <value><![CDATA[jdbc:mysql://127.0.0.1:3306/smbms?useUnicode=true&characterEncoding=utf-8]]></value> -->
        </property> 
        <!-- property name="url" value="jdbc:mysql://127.0.0.1:3306/smbms?
                        useUnicode=true&amp;characterEncoding=utf-8" /> -->
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
    </bean>

    <!-- 配置SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 引用数据源组件 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 引用MyBatis配置文件中的配置
        <property name="configLocation" value="classpath:mybatis-config.xml" /> -->
        <property name="typeAliasesPackage" value="cn.bdqn.entity"/>
        <!-- 配置SQL映射文件信息 -->
        <property name="mapperLocations">
            <list>
                <value>classpath:cn/bdqn/dao/*.xml</value>
            </list>
        </property>
    </bean>
    <!-- 配置Dao4 所有Dao一起解决 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="cn.bdqn.dao"></property>
    </bean>
    
   <context:component-scan base-package="cn.bdqn.service"/>
   <!--  配置声明式事务管理 -->
   	<!-- 事务管理者transactionManager -->
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		<property name="dataSource" ref="dataSource"></property>
   </bean>
   
   <tx:annotation-driven transaction-manager="transactionManager"/>
   
   <!--  事务通知者advice -->
   <tx:advice transaction-manager="transactionManager" id="myAdvice">
   		<!-- 事务的属性 .方法 -->
   		<tx:attributes>
   			<tx:method name="find*" read-only="true" propagation="NEVER" />
   			<tx:method name="get*" read-only="true" propagation="NEVER"/>
   			<tx:method name="add*" read-only="false" propagation="REQUIRED"/>
   			<tx:method name="update*" read-only="false" propagation="REQUIRED"/>
   			<tx:method name="del*" read-only="false" propagation="REQUIRED"/>
   			<tx:method name="insert*" read-only="false" propagation="REQUIRED"/>
   			<tx:method name="do*" read-only="false" propagation="REQUIRED"/>
   			<tx:method name="*" read-only="false" propagation="REQUIRED"/>
   		</tx:attributes>
   </tx:advice>
    <!-- 切面织入事务 -->
    <aop:config>
    	<aop:pointcut expression="execution(* cn.bdqn.service.*.*(..))" id="myPoint"/>
    	<aop:advisor advice-ref="myAdvice" pointcut-ref="myPoint"/>
    </aop:config> 
    
    
    
    
    
    
    
    
    
    
    
    
    
</beans>